/* RETORNO VISUAL DO TREINO REFERENTE À SEGUNDA */
.img1-1 {
  background-image: url("../../imgs/workouts/exercicio1-1.gif");
  background-size: 32vh;
}
.img1-2 {
  background-image: url("../../imgs/workouts/exercicio1-2.gif");
  background-size: 30vh;
}
.img1-3 {
  background-image: url("../../imgs/workouts/exercicio1-3.gif");
  background-size: 31vh;
}
.img1-4 {
  background-image: url("../../imgs/workouts/exercicio1-4.gif");
  background-size: 34vh;
}
.img1-5 {
  background-image: url("../../imgs/workouts/exercicio1-5.gif");
  background-size: 34vh;
}
.img1-6 {
  background-image: url("../../imgs/workouts/exercicio1-6.gif");
  background-size: 35vh;
}

.img1-7 {
  background-image: url("../../imgs/workouts/exercicio1-7.jpg");
  background-size: 35vh;
}

/* RETORNO VISUAL DO TREINO REFERENTE À TERÇA */
.img2-1 {
  background-image: url("../../imgs/workouts/exercicio2-1.gif");
  background-size: 34vh;
}
.img2-2 {
  background-image: url("../../imgs/workouts/exercicio2-2.gif");
  background-size: 34vh;
}
.img2-3 {
  background-image: url("../../imgs/workouts/exercicio2-3.gif");
  background-size: 34vh;
}
.img2-4 {
  background-image: url("../../imgs/workouts/exercicio2-4.gif");
  background-size: 34vh;
}
.img2-5 {
  background-image: url("../../imgs/workouts/exercicio2-5.gif");
  background-size: 30vh;
}
.img2-6 {
  background-image: url("../../imgs/workouts/exercicio2-6.gif");
  background-size: 32vh;
}

/* RETORNO VISUAL DO TREINO REFERENTE À QUARTA */
.img3-1 {
  background-image: url("../../imgs/workouts/exercicio3-1.gif");
  background-size: 34vh;
}
.img3-2 {
  background-image: url("../../imgs/workouts/exercicio3-2.webp");
  background-size: 34vh;
  }
.img3-3 {
  background-image: url("../../imgs/workouts/exercicio3-3.gif");
  background-size: 34vh;
}
.img3-4 {
  background-image: url("../../imgs/workouts/exercicio3-4.gif");
  background-size: 34vh;
}
.img3-5 {
  background-image: url("../../imgs/workouts/exercicio3-5.gif");
  background-size: 34vh;
}
.img3-6 {
  background-image: url("../../imgs/workouts/exercicio3-6.gif");
  background-size: 33vh;
}

.img3-7 {
  background-image: url("../../imgs/workouts/exercicio3-7.jpg");
  background-size: 22vh;
}

/* RETORNO VISUAL DO TREINO REFERENTE À QUINTA */
.img4-1 {
  background-image: url("../../imgs/workouts/exercicio4-1.gif");
  background-size: 34vh;
}
.img4-2 {
  background-image: url("../../imgs/workouts/exercicio4-2.gif");
  background-size: 34vh;
}
.img4-3 {
  background-image: url("../../imgs/workouts/exercicio4-3.gif");
  background-size: 34vh;
}
.img4-4 {
  background-image: url("../../imgs/workouts/exercicio4-4-gif");
  background-size: 34vh;
}
.img4-5 {
  background-image: url("../../imgs/workouts/exercicio4-5.gif");
  background-size: 30vh;
}
.img4-6 {
  background-image: url("../../imgs/workouts/exercicio4-6.gif");
  background-size: 32vh;
}

.img4-7 {
  background-image: url("../../imgs/workouts/exercicio4-7.gif");
  background-size: 32vh;
}

.img4-8 {
  background-image: url("../../imgs/workouts/exercicio4-8.gif");
  background-size: 32vh;
}

