/* 
=======================
Classe base para todas as imagens de exercício 
=======================
*/
.exercicio-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
}

/* =======================
BRAÇO E TRICEPS
======================= */
.img1-1 {
  background-image: url("../../imgs/workouts/exercicio1-1.gif");
}
.img1-2 {
  background-image: url("../../imgs/workouts/exercicio1-2.gif");
}
.img1-3 {
  background-image: url("../../imgs/workouts/exercicio1-3.gif");
}
.img1-4 {
  background-image: url("../../imgs/workouts/exercicio1-4.gif");
}
.img1-5 {
  background-image: url("../../imgs/workouts/exercicio1-5.gif");
}
.img1-6 {
  background-image: url("../../imgs/workouts/exercicio1-6.gif");
}
.img1-7 {
  background-image: url("../../imgs/workouts/exercicio1-7.gif");
}

/* =======================
COXA E PANTURRILHA
======================= */
.img2-1 {
  background-image: url("../../imgs/workouts/exercicio2-1.gif");
}
.img2-2 {
  background-image: url("../../imgs/workouts/exercicio2-2.gif");
}
.img2-3 {
  background-image: url("../../imgs/workouts/exercicio2-3.gif");
}
.img2-4 {
  background-image: url("../../imgs/workouts/exercicio2-4.gif");
}
.img2-5 {
  background-image: url("../../imgs/workouts/exercicio2-5.gif");
}
.img2-6 {
  background-image: url("../../imgs/workouts/exercicio2-6.gif");
  background-size: 39.7vh;
}

/* =======================
PEITO E COSTAS
======================= */
.img3-1 {
  background-image: url("../../imgs/workouts/exercicio3-1.gif");
}
.img3-2 {
  background-image: url("../../imgs/workouts/exercicio3-2.gif");
}
.img3-3 {
  background-image: url("../../imgs/workouts/exercicio3-3.gif");
}
.img3-4 {
  background-image: url("../../imgs/workouts/exercicio3-4.gif");
}
.img3-5 {
  background-image: url("../../imgs/workouts/exercicio3-5.gif");
}
.img3-6 {
  background-image: url("../../imgs/workouts/exercicio3-6.jpg");
}
.img3-7 {
  background-image: url("../../imgs/workouts/exercicio3-7.jpg");
}

/* =======================
COXA, GLÚTEOS E PANTURRILHA
======================= */
.img4-1 {
  background-image: url("../../imgs/workouts/exercicio4-1.gif");
}
.img4-2 {
  background-image: url("../../imgs/workouts/exercicio4-2.gif");
}
.img4-5 {
  background-image: url("../../imgs/workouts/exercicio4-5.gif");
}
