/* FOTOS DE SEGUNDA */
.img1 {
  background-image: url("../../imgs/monday/exercicio1.jpg");
}
.img2 {
  background-image: url("../../imgs/monday/exercicio2.jpg");
}
.img3 {
  background-image: url("../../imgs/monday/exercicio3.gif");
  background-size: 34vh;
}
.img4 {
  background-image: url("../../imgs/monday/exercicio4.webp");
  background-size: 34vh;
}
.img5 {
  background-image: url("../../imgs/monday/exercicio5.gif");
  background-size: 34vh;
}
.img6 {
  background-image: url("../../imgs/monday/exercicio6.gif");
  background-size: 35vh;
}

.img7 {
  background-image: url("../../imgs/monday/exercicio7.jpg");
}